@import "tailwindcss";

:root {
  --background-color-light-0: #f5f5f5;
  --background-color-dark-0: #000000;

  /* Override Mantine's default CSS values (requires postcss-preset-mantine) */
  @mixin light-root {
    --mantine-color-body: var(--background-color-light-0);
  }

  @mixin dark-root {
    --mantine-color-body: var(--background-color-dark-0);
  }
}
